@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Atkinson+Hyperlegible&family=Commissioner&family=Overlock+SC&display=swap');

/* Style reset for HTML tags */

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
fieldset{border:0}
a,a *{cursor:pointer}
div{margin:0;padding:0;background-color:transparent;text-align:left}
hr,img{border:0}
applet,iframe,object{border:0;margin:0;padding:0}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label{cursor:pointer;}
ul,li{list-style:none;margin:0;padding:0;}
strong{font-weight:bold;}
em{font-style:italic;} 

div {
    display: flex;

    height: 100%;
    width: 100%;

    margin: 0;
}

.signupPage {
    height: 100%;
    width: 100%;
}

.companyTitle {
    height: 5%;

    border: 1px solid transparent;
}

.companyLogo {
    float:left;
    
    height: 3%;
    width: 3%;
    
    margin-left: 1.5%;
    margin-top: 2%;
    margin-right: 0.7%;
}

.companyName {
    margin-top: 2%;
    
    font-family: 'Overlock SC', cursive;
}

.login {
    height: 100vh;
    width: 120vh;

    text-align: center;
}

.welcomeTitle {
    margin-top: 12%;

    font-family: 'ABeeZee', sans-serif;
    font-size: 52px;
    font-weight: 200;
}

.description {
    margin-top: 1.5%;
    margin-bottom: 5%;

    font-family: 'Commissioner', sans-serif;
    color: #a3a3a3;
    font-size: 20px;
    font-weight: 200;
}

input {
    margin-top: 3%;

    font-family: 'Commissioner', sans-serif;
}

.signInButton {
    margin-top: 9%;

    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #FFFFFF;
}

.signup {
    width: 75%;
    height: 100vh;

    background-image: url(https://i.imgur.com/MRIbdQN.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    text-align: center;
}

.newTitle {
    margin-top: 30%;

    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 200;
}

.aboutText {
    margin-top: 6%;

    text-align: center;

    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #FFFFFF;
}

.signUpButton {
    margin-top: 12%;

    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #FFFFFF;
}