@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
* {
    font-family: 'Arimo', sans-serif;
}

div {
    overflow: hidden; 
}

.mainHeader {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-around;

    -webkit-box-shadow: 0px 5px 25px -24px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 25px -24px rgba(0,0,0,1);
    box-shadow: 0px 5px 25px -24px rgba(0,0,0,1);
}

.companyTitle {
    width: 130px;
    height: 40px;

    margin: 10px 0 0 0;
}

.companyIcon {
    height: 35px;
    width: 130px;
}

.headerNav {
    height: 100%;

    display:flex;
}

.navBar {
    display: flex;

    width: 966px;
}

.navCategory {
    display: flex;
    margin-left: 25px;
}

.categoryTitle {
    font-weight: 500;
}

.categoryButton {
    height: 13px;
    width: 13px;

    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: transparent;

    padding: 5px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}

.userNav {
    height: 100%;
    width: 150px;

    display: flex;
    justify-content: space-around;
}

.navIcon {
    background-color: rgb(255, 255, 255);
    border: none; 
    color: black; 
    font-size: 180%;
    -webkit-text-stroke: 1px background-color;
    cursor: pointer;
}

.mainSection {

}

.mainSectionTitle {

}

.mainSectionInput {

}

.mainSectionButtons {

}

.foodButton {

}

.foodSection {

}

.foodSectionTitle {

}

.foodBar {

}

article {

}