div {
    overflow: hidden; 
}

.mainHeader {
    width: 100%;
    height: 60px;

    border: 1px solid black;

    display: flex
}

.companyTitle {
    width: 130px;
    height: 40px;

    margin: 10px 0 0 2%;

    border: 1px solid black;
}

.companyIcon {
    height: 35px;
    width: 130px;
}

.headerNav {
    height: 100%;

    display:flex;
}

.navCategory {
    display: flex;
}

.categoryTitle {

}

.categoryButton {
    height: 30%;
    width: 20px;
}

.userNav {
    height: 100%;
    width: 220px;

    margin: 0 0 0 47.5%;

    border: 1px solid black;

    display: flex;
}

.navIcon {
    background-color: rgb(255, 255, 255);
    border: none; 
    color: black; 
    font-size: 180%;
    -webkit-text-stroke: 1px background-color;
    cursor: pointer;
}

.mainSection {

}

.mainSectionTitle {

}

.mainSectionInput {

}

.mainSectionButtons {

}

.foodButton {

}

.foodSection {

}

.foodSectionTitle {

}

.foodBar {

}

article {

}