@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.page {
    overflow: hidden; 
}

.mainHeader {
width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-around;

    -webkit-box-shadow: 0px 5px 25px -24px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 25px -24px rgba(0,0,0,1);
    box-shadow: 0px 5px 25px -24px rgba(0,0,0,1);
}

.companyTitle {
    width: 130px;
    height: 40px;

    margin: 10px 0 0 1%;
}

.companyIcon {
    height: 35px;
    width: 130px;
}

.headerNav {
    height: 100%;

    display:flex;
}

.navBar {
    display: flex;

    width: 100%;
}

.navCategory {
    display: flex;
    margin-left: 25px;
}

.categoryTitle {
    font-weight: 500;

    cursor: default;
}

.categoryButton {
    height: 5%;
    width: 5%;

    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: transparent;

    padding: 5px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}

.userNav {
    height: 100%;
    width: 150px;

    display: flex;
    justify-content: space-around;
}

.navIcon {
    background-color: transparent;
    border: none; 
    color: black; 
    font-size: 180%;
    -webkit-text-stroke: 1px background-color;
    cursor: pointer;
}

.mainSection {
    height: 270px;
    width: 98vw;

    margin-top: 10px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;

    background: rgb(1,175,76);
    background: linear-gradient(90deg, rgba(1,175,76,1) 36%, rgba(0,82,71,1) 90%);
    
    border-radius: 20px;

    text-align:center;
}

.mainSectionTitle {
    display: inline-block;
    margin-top: 30px;

    font-size: 35px;
    color: white;

    font-weight: 599;

    cursor: default;
}

.inputDiv{
    height: 45px;
    width: 98vw;

    justify-content: center;
    display: flex;
}

.faIconDiv {
    height: 45px;
    width: 50px;
      
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    background: white;
    
    box-shadow: 0px 0px 2px 0px #000000;

    cursor: pointer;
}

.mainSectionInput { 
    height: 45px;
    width: 600px;
  
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  
    color:black;
  
    background: white;
    border: none;
    padding: 0;
    outline: inherit;
  
    text-indent: 5px;
    font-size: 18px;
}

.mainSectionInput::placeholder {
    font-size: 18px;
    color: #929292;
  }

.mainSectionButtons {
    height: 100px;
    width: 1200px;

    display: inline-flex;
    justify-content: space-around;
}

.foodButton {
    height: 42px;
    width: 42px;

    background-color: white;
    color: black;

    border: none;
    border-radius: 30px;
    padding: 0px 0px;
    
    font-size: 23px;
    cursor: pointer;
}

.foodName {
    color: #FFFFFF;
    margin-top: 10%;

    font-size: 90%;
    cursor: default;
}

.foodSectionTitle {
    font-size: 18px;
}

.foodContainer {
    position: relative;

    margin-left: 1%;
}

.foodSection, 
.foodBar {
    display: grid;
    grid-auto-flow: column;
}

.foodSection {
    grid-auto-columns: 100%;
    scroll-behavior: smooth;
    overflow: hidden; 
}

.foodBar {
    grid-auto-columns: 1fr;

    margin-left: 70px;
}

.foodImage {
    height: 100px;
    width: 170px;
    
    background-color: #f1f1f1;
    
    border-radius: 20px;
}

.nextArrow, 
.previousArrow {
    display: none;
    z-index: 10;
    position: absolute;
    align-items: center;
    
    font-size: 15px;
    color: #000000;

    margin-top: 25px;

    background-color: white;
    border: 1px solid lightgray;
    border-radius: 25px;

    width: 30px;
    height: 30px;
}

.previousArrow {
    left: 0;
    top: 0;
    bottom: 0;
}

.nextArrow {
    right: 0;
    top: 0;
    bottom: 0;
}

.arrowIcon {
    margin-left: 10px;
}

.foodBar:target :where(.nextArrow, .previousArrow) {
    display: flex;
}

.foodBar:first-child :where(.nextArrow, .previousArrow) {
    display: flex;
}

#foodBar-1, #foodBar-5, #foodBar-9 {
    margin: 0;
}